<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= link_to "Exibir", student, class: "btn btn-secondary" %></td>
        <td><%= link_to "Editar", edit_student_path(student), class: "btn btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
